.OurLocation
{
    color:brown;
}
h3{
    color: brown !important;
}
.text1
{
    color:brown;
}
.text2
{
    color:black !important;

}
.footer1
{
    background-color:goldenrod!important;
}
.location1
{
    background-image: url('../../public/images/navbar_image.jpg');
}
.social-icon1
{
    color:crimson;
    font-size: 20px;
}
.social-icon2
{
    color:blueviolet;
    font-size: 20px;
}